text {
  font: 10px sans-serif;
  fill: #fff;
}

.cesium-animation-shuttleRingPausePointer, .cesium-animation-shuttleRingPointer, .cesium-animation-shuttleRingSwoosh,
.cesium-animation-shuttleRingBack, .cesium-animation-buttonDisabled, .cesium-animation-svgText:nth-of-type(3),
.cesium-animation-knobOuter, .cesium-animation-buttonMain {
  display: none;
}

.cesium-animation-knobOuter {
  pointer-events: none;
}

.cesium-animation-buttonGlow {
  opacity: 0.7;
}

.cesium-animation-svgText {
  font-size: 16px;
}

button.cesium-infoBox-camera, .cesium-infoBox-title {
  display: none;
}

.cesium-infoBox, .cesium-infoBox-title {
  background: #5a5a5a;
  opacity: 0.9;
}

.cesium-infoBox-description {
  overflow: hidden;
}

.cesium-infoBox-defaultTable {
  border-color: #5a5a5a;
  padding: 0;
}

.cesium-timeline-bar {
  background-color: black;
}

#timeline-tooltip {
  position: absolute;
  background-color: black;
  color: white;
  font-family: sans-serif;
  white-space: nowrap;
  bottom: 40px;
  padding: 5px;
  border-radius: 5%;
  display: none;
}

a:link, a:visited {
  color: yellow;
}

#instructions {
  color: white;
  padding: 2px;
}

#legend {
  position: absolute;
  bottom: 75px;
  right: 3px;
  pointer-events: none;
}

#histogram {
  position: absolute;
  top: 0;
  padding: 5px;
  pointer-events: none;
}

.bar rect {
  fill: steelblue;
  shape-rendering: crispEdges;
}

.bar text {
  fill: #fff;
}

.axis path, .axis line {
  fill: none;
  stroke: #fff;
  shape-rendering: crispEdges;
}