body {
  background-color: rgba(51, 51, 51, 0.06);
  padding: 10px;
}

legend {
  transition: all .2s ease-in;
  padding: 0 5px;
}

textarea {
  resize: vertical;
}

.info-box {
  background: #fff;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  border-radius: 2px;
  padding: 5px;
  margin: 10px;
}


.view-logs {
  margin-left: 15px;
}

.checklist {
  margin-right: 5px !important;
}